= semantic_form_for @customer do |form|
  = form.inputs do
    = form.input :customer_iden, :label => 'Customer Iden'
    = form.input :f_name, :label => 'F Name'
    = form.input :m_name, :label => 'M Name'
    = form.input :l_name, :label => 'L Name'
    = form.input :address1, :label => 'Address1'
    = form.input :address2, :label => 'Address2'
    = form.input :city, :label => 'City'
    = form.input :state, :label => 'State'
    = form.input :postal, :label => 'Postal'
    = form.input :w_phone, :label => 'W Phone'
    = form.input :h_phone, :label => 'H Phone'
    = form.input :m_phone, :label => 'M Phone'
    = form.input :email, :label => 'Email'
    = form.input :username, :label => 'Username'
    = form.input :password, :label => 'Password'
  = form.buttons
