= semantic_form_for @product_state do |form|
  = form.inputs do
    = form.input :product, :label => 'Product'
    = form.input :state, :label => 'State'
    = form.input :description, :label => 'Description'
    = form.input :unit_price, :label => 'Unit Price'
  = form.buttons
